# Кодирование категориальных переменных

In [1]:
import warnings
warnings.filterwarnings('ignore')
from pprint import pprint, pformat
from pathlib import Path

import joblib

from my_lib import *
from my_config import *

In [2]:
dataset_df_wo_nan = joblib.load(Path(result_foler, dataset_filename_after_PrepareNans))
params = joblib.load(Path(result_foler, params_filename_after_PrepareNans))

In [3]:
display(dataset_df_wo_nan[params["cat_columns"]].sample(7))
display(dataset_df_wo_nan[params["cat_columns"]].describe())

,Gender,Marital Status,Education Level,Occupation,Location,Policy Type,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type
id,,,,,,,,,,,
487081,Female,Single,Bachelor's,Employed,Suburban,Basic,2022-12-25 15:21:39.155231,Good,Yes,Weekly,Apartment
314307,Female,Divorced,Master's,Self-Employed,Urban,Comprehensive,2021-10-11 15:21:39.181605,Poor,Yes,Daily,Condo
704434,Female,Single,High School,Self-Employed,Suburban,Comprehensive,2021-09-19 15:21:39.211806,Average,Yes,Rarely,Condo
528081,Female,Single,Bachelor's,Employed,Urban,Premium,2022-01-18 15:21:39.263607,Poor,No,Weekly,House
864669,Female,Divorced,Bachelor's,Employed,Suburban,Comprehensive,2022-10-11 15:21:39.155231,Average,No,Weekly,Apartment
577340,Female,Single,Bachelor's,Employed,Suburban,Basic,2020-03-20 15:21:39.122134,Good,Yes,Rarely,House
44859,Male,Single,Bachelor's,Self-Employed,Suburban,Premium,2024-02-17 15:21:39.168099,Poor,No,Weekly,Condo

,Gender,Marital Status,Education Level,Occupation,Location,Policy Type,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type
count,1200000,1200000,1200000,1200000,1200000,1200000,1200000,1200000,1200000,1200000,1200000
unique,2,3,4,3,3,3,167381,3,2,4,3
top,Male,Single,Master's,Employed,Suburban,Premium,2020-02-08 15:21:39.134960,Average,Yes,Weekly,House
freq,602571,431371,303818,635006,401542,401846,142,515253,601873,306179,400349

## Policy Start Date

In [4]:
# Разобрать дату старта полису на год, месяц, день и день недели
dataset_df_wo_nan['Policy Start Date'] = pd.to_datetime(dataset_df_wo_nan['Policy Start Date'])

dataset_df_wo_nan['Policy Start Year'] = dataset_df_wo_nan['Policy Start Date'].dt.year
dataset_df_wo_nan['Policy Start Month'] = dataset_df_wo_nan['Policy Start Date'].dt.month
dataset_df_wo_nan['Policy Start Day'] = dataset_df_wo_nan['Policy Start Date'].dt.day
dataset_df_wo_nan['Policy Start Weekday'] = dataset_df_wo_nan['Policy Start Date'].dt.weekday 

dataset_df_wo_nan.drop(columns=['Policy Start Date'], inplace=True)

params["columns_X"].remove("Policy Start Date")
params["cat_columns"].remove("Policy Start Date")
params["columns_X"].append("Policy Start Year")
params["columns_X"].append("Policy Start Month")
params["columns_X"].append("Policy Start Day")
params["columns_X"].append("Policy Start Weekday")

display(dataset_df_wo_nan.sample(7))

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,...,Insurance Duration,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount,Policy Start Year,Policy Start Month,Policy Start Day,Policy Start Weekday
id,,,,,,,,,,,,,,,,,,,,,
531998,27.0,Male,24897.0,Divorced,1.0,Bachelor's,Employed,4.293322,Urban,Premium,...,2.0,Average,No,Monthly,House,574.0,2022,1,25,1
501310,42.0,Male,7073.0,Single,1.0,PhD,Self-Employed,17.927219,Suburban,Premium,...,6.0,Average,Yes,Monthly,House,975.0,2021,5,9,6
307647,55.0,Female,16076.0,Married,3.0,High School,Self-Employed,11.638409,Suburban,Basic,...,8.0,Average,Yes,Monthly,Apartment,1595.0,2022,4,30,5
1126450,48.0,Female,7073.0,Single,1.0,Bachelor's,Self-Employed,13.564143,Urban,Comprehensive,...,5.0,Good,Yes,Daily,Apartment,867.0,2019,10,12,5
53003,24.0,Male,16891.0,Divorced,1.0,PhD,Employed,13.979532,Rural,Comprehensive,...,3.0,Poor,Yes,Daily,House,25.0,2020,5,8,4
750995,62.0,Female,24897.0,Divorced,2.0,Bachelor's,Employed,6.939074,Urban,Basic,...,4.0,Average,Yes,Monthly,House,1036.0,2020,2,19,2
283133,23.0,Female,7073.0,Single,4.0,Master's,Employed,8.772539,Urban,Comprehensive,...,3.0,Poor,Yes,Rarely,House,1177.0,2024,4,14,6

## Прочие категориальные переменные

In [5]:
print("Набор значений категориальных столбцов:")
for col in params["cat_columns"]:
    #print(f'{dataset_df_wo_nan[col].value_counts()}')
    print(f'{col}: {dataset_df_wo_nan[col].unique().tolist()}')

Набор значений категориальных столбцов:
Gender: ['Female', 'Male']
Marital Status: ['Married', 'Divorced', 'Single']
Education Level: ["Bachelor's", "Master's", 'High School', 'PhD']
Occupation: ['Employed', 'Self-Employed', 'Unemployed']
Location: ['Urban', 'Rural', 'Suburban']
Policy Type: ['Premium', 'Comprehensive', 'Basic']
Customer Feedback: ['Poor', 'Average', 'Good']
Smoking Status: ['No', 'Yes']
Exercise Frequency: ['Weekly', 'Monthly', 'Daily', 'Rarely']
Property Type: ['House', 'Apartment', 'Condo']

In [6]:
# Столбцы для one-hot-encoding
onehot_columns = ['Gender', "Marital Status", "Occupation", "Location", "Property Type", "Smoking Status"]
# Столбцы для ordinal-encoding
ordered_columns = {"Education Level": ["High School", "Bachelor's", "Master's", "PhD"],
                   "Policy Type": ['Basic', 'Comprehensive', 'Premium'],
                   "Customer Feedback": ['Poor', 'Average', 'Good'],
                   "Exercise Frequency": ['Rarely', 'Weekly', 'Monthly', 'Daily']}
dataset_df_wo_nan, params["columns_X"] = encode_features(src_df=dataset_df_wo_nan, 
                                                         onehot_cols=onehot_columns, onehot_drop='first',
                                                         ordinal_cols=ordered_columns, 
                                                         columns_X=params["columns_X"])

P.S. Пробовал разные варианты для параметра `drop` в подходы к удалению/сохранению столбцов - не удалять, if_binary, first. Конечный результат практически не менялся.

In [7]:
dataset_df_wo_nan.sample(7)

,Age,Annual Income,Number of Dependents,Education Level,Health Score,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,...,Gender_Male,Marital Status_Married,Marital Status_Single,Occupation_Self-Employed,Occupation_Unemployed,Location_Suburban,Location_Urban,Property Type_Condo,Property Type_House,Smoking Status_Yes
384794,18.0,24897.0,4.0,3.0,9.935128,0.0,2.0,6.0,725.0,3.0,...,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
869052,21.0,7073.0,3.0,1.0,27.242282,1.0,0.0,8.0,602.0,3.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
703298,45.0,7073.0,3.0,3.0,10.958153,0.0,1.0,19.0,734.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1103264,29.0,24897.0,3.0,3.0,3.172619,2.0,2.0,1.0,725.0,3.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
351871,28.0,24897.0,3.0,1.0,7.834304,0.0,0.0,6.0,431.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
533119,18.0,9071.0,2.0,0.0,29.891396,0.0,1.0,10.0,725.0,5.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
754389,37.0,24897.0,2.0,1.0,9.527731,1.0,0.0,4.0,431.0,5.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0

In [8]:
dataset_df_wo_nan[params["columns_X"]].sample(7)

,Age,Annual Income,Number of Dependents,Education Level,Health Score,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,...,Gender_Male,Marital Status_Married,Marital Status_Single,Occupation_Self-Employed,Occupation_Unemployed,Location_Suburban,Location_Urban,Property Type_Condo,Property Type_House,Smoking Status_Yes
1067132,32.0,7991.0,0.0,1.0,8.869160,1.0,2.0,7.0,626.0,7.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
245238,55.0,16054.0,4.0,2.0,16.845881,0.0,1.0,10.0,431.0,9.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
744767,36.0,16891.0,0.0,3.0,8.723609,2.0,1.0,2.0,434.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
184721,40.0,24897.0,3.0,3.0,14.946267,1.0,0.0,7.0,725.0,5.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0
664643,37.0,17069.0,4.0,2.0,17.924357,2.0,1.0,4.0,431.0,8.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
1169831,21.0,7073.0,3.0,1.0,19.811697,1.0,0.0,2.0,602.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
408413,38.0,17069.0,3.0,2.0,20.966510,1.0,2.0,19.0,431.0,3.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0

In [9]:
# сохранить промежуточные результаты
_ = joblib.dump(dataset_df_wo_nan, Path(result_foler, dataset_filename_after_CatEncoder), compress=3)
_ = joblib.dump(params, Path(result_foler, params_filename_after_CatEncoder), compress=3)